@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(5px);
        visibility: visible;
    }

    100% {
        opacity: 1;
        filter: blur(0px);
        visibility: visible;
    }
}


html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(28, 34, 34);
    box-shadow: inset 0 0 5px rgb(28, 34, 34);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: rgb(57, 45, 64);
    border-radius: 20px;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(28, 34, 34);
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.landing-page {
    width: 100%;
    height: 100vh;
    background-image: url('images/landing-page.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.hidden-greeting {
    min-height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
}

.hidden-translate {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}

@media(prefers-reduced-motion) {
    .hidden { 
        transition: none;
    }
}

.greeting {
    opacity: 1;
    font-size: 200px;
    margin-bottom: 0;
    animation: fadeIn 1.5s ease 0.3s 1 forwards;
    font-family: 'Abel', sans-serif;
    visibility: hidden;
}

.self-presentation-1 {
    font-size: 72px;
    margin: 0;
    font-family: 'Abel', sans-serif;
    visibility: hidden;
    animation: fadeIn 1.5s ease 0.6s 1 forwards;
    animation-delay: 1s;
}

.self-presentation-2 {
    font-family: 'Abel', sans-serif;
    font-size: 60px;
    visibility: hidden;
    animation: fadeIn 1.5s ease 1.2s 1 forwards;
    animation-delay: 2.5s;
    margin-top: 20px;
}

h1 { 
    font-size: 72px;
}

.bodytxt {
    font-size: 24px;
    margin-top: 20px;
    padding: 60px;
    line-height: 200%;
    font-weight: 300;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 999;
    background-color: rgb(28, 34, 34);
}

nav button {
    margin-right: 20px;
}

nav img {
    margin-left: 20px;
}

.nav-show {
    transform: translateY(0);
    transition: 0.5s all ease;
}

.nav-hide {
    transform: translateY(-150%);
    transition: 0.5s all ease;
}

.nav-links {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-links li { 
    padding: 0 20px;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 500;
    transition: all 0.3s ease;
    display: block;
}

.nav-links li a:hover {
    color: rgb(187, 145, 210);
}
.toggle-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: auto;
    display: none;
    position: absolute;
    top: 25px;
    right: 1rem;
}

.toggle-btn img {
    padding: 0;
    margin: 0;
    width: 40px;
    height: auto;
}

.toggle-btn:hover {
    transform: scale(1.1);
    transition: 0.3s all ease;
}

@media (max-width: 818px) {
    .toggle-btn {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        display: none;
        padding: 0;
        width: 100%;
        flex-direction: column;
        text-align: center;
        transition: all 0.3s ease;
        background-color: rgb(28, 34, 34);
    }

    .nav-links li {
        padding: 10px;
    }

    .active {
        display: flex;
        transition: all 0.3s ease;
        transition-property: all;
    }

    .cta button {
        display: none;
    }

}

.cta button {
    border-radius: 20px;
    padding: 14px 25px;
    background-color: rgb(187, 145, 210);
    color: white;
    border: solid 0px transparent;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 14px;
}

.cta button:hover {
    background-color: rgba(187, 145, 210, 0.8);
}

.logo {
    padding: 10px;
    width: 40px;
    height: auto;
    cursor: pointer;
    transition: 0.3s all ease;
}

.logo:hover {
    transform: scale(1.1) rotate(10deg);
}

.project-descriptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.proj-box h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 500;
    color: rgb(187, 145, 210);
}

.proj-box {
    width: 40%;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px rgba(28, 15, 33, 0.2);
    background-color: rgb(40, 39, 49);
}

.project-descriptions :nth-child(even of .proj-box) {
    background-color: rgb(28, 15, 33);
}

.proj-title-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.proj-title-img a {
    pointer: cursor;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proj-title-img a:hover {
    transform: scale(1.1) rotate(10deg);
    transition: all 0.3s ease;
}

.proj-title-img img {
    width: 30px;
    height: auto;
    margin: 0;
    padding: 0;
}

.proj-date {
    font-size: 20px;
    font-weight: 300;
    color: rgb(187, 145, 210, 0.6);
    font-style: italic;
    margin: 0;
    line-height: 100%;
}

.expand-btn { 
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: rgb(187, 145, 210);
    transition: all 0.3s ease;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.expand-btn img {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.expand-btn img:hover {
    transform: scale(1.1);
    transition: 0.3s ease all;
}
