@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(5px);
    }

    100% {
        opacity: 1;
        filter: blur(0px);
    }
}

body {
    font-family: 'Gloock', serif;
    background-color: rgb(28, 34, 34);
    color: white;
    margin: 0;
    padding: 0;
}

.hidden-greeting {
    min-height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
}

.hidden-translate {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}

@media(prefers-reduced-motion) {
    .hidden { 
        transition: none;
    }
}

.greeting {
    opacity: 1;
    font-size: 98px;
    margin-bottom: 0;
    animation: fadeIn 1.5s ease 0.3s 1;
}

.greeting .first-txt {
    color: rgb(187, 145, 210);
}

.self-presentation {
    font-size: 48px;
    position: relative;
    margin-top: 20px;
}

.self-presentation::before { 
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: rgb(28, 34, 34);
    animation: animate 6s steps(32) 3 2s;
}

@keyframes animate { 
    0% {
        border-left: 4px solid rgb(176, 102, 216);
    }
    40%, 60% {
        left: 100%;
    }

    100% {
        left: 0%;
        border-left: 4px solid rgb(176, 102, 216);
    }
}